{% extends 'base.html' %}

{% block title %}Chat Home{% endblock %}

{% block content %}
<div class="header">
    <h2>Chat App</h2>
</div>

<div class="container">
    <form id="post-form" method="POST" action="checkview">
        {% csrf_token %}
        <label for="room_name">Room Name</label>
        <input type="text" name="room_name" id="room_name" required />

        <label for="username">Username</label>
        <input type="text" name="username" id="username" required />

        <input type="submit" value="Enter Room">
    </form>
</div>
{% endblock %}
